[submodule "ltx"]
	path = lib/ltx
	url = http://github.com/astro/ltx.git

[submodule "node-expat"]
	path = lib/node-expat
	url = git://github.com/astro/node-expat.git

[submodule "node-xmpp"]
	path = lib/node-xmpp
	url = git://github.com/astro/node-xmpp.git

[submodule "xmppjs"]
	path = lib/xmppjs
	url = https://github.com/mwild1/xmppjs.git

[submodule "JSCC-NODE"]
	path = lib/JSCC-NODE
	url = https://github.com/badlee/JSCC-NODE.git
